a{
  color: blue;
}
.amarela{
  background: #FFFFE3;
}
.verde{
  background: rgb(117, 163, 117);
}
body{
 background: grey;
}
.p1{
  color:#2A6218;
}
.p3{
  color: #C3884B;

}
.p4{
  color:  #C3884B;
}
.p5{
  color: #7F61A0;
}